<% content_for :title, "#{@skill.name}の詳細 | 管理者 | hello-rails" %>
<% content_for :breadcrumb do %>
  <ol>
    <li>
      <%= link_to "【管理者】スキル一覧", admin_skills_path %>
    </li>
    <li>
      <%= link_to "【管理者】 #{@skill.name}の詳細", admin_skill_path(@skill) %>
    </li>
  </ol>
<% end %>

<h1><%= @skill.name %></h1>

<section>
  <h2>スキルを所持しているユーザー</h2>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to user.full_name, admin_user_path(user) %>
      </li>
    <% end %>
  </ul>
</section>

<section>
  <h2>操作</h2>
  <ul>
    <li><%= link_to "スキル名の編集", edit_admin_skill_path(@skill) %></li>
    <li><%= link_to "スキルを削除", admin_skill_path(@skill), data: {
      turbo_method: :delete,
      turbo_confirm: "本当に削除しますか？"
    } %></li>
    <li><%= link_to "スキル一覧に戻る", admin_skills_path %></li>
  </ul>
</section>
