<% content_for :title, "#{@department.name}の詳細 | 管理者 | hello-rails" %>
<% content_for :breadcrumb do %>
  <ol>
    <li>
      <%= link_to "【管理者】部署一覧", admin_departments_path %>
    </li>
    <li>
      <%= link_to "【管理者】#{@department.name}の詳細", admin_department_path(@department) %>
    </li>
  </ol>
<% end %>

<h1><%= @department.name %></h1>

<section>
  <h2>所属ユーザー</h2>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to user.full_name, admin_user_path(user) %>
      </li>
    <% end %>
  </ul>
</section>

<section>
  <h2>操作</h2>
  <ul>
    <li><%= link_to "部署名の編集", edit_admin_department_path(@department) %></li>
    <li><%= link_to "部署を削除", admin_department_path(@department), data: {
      turbo_method: :delete,
      turbo_confirm: "本当に削除しますか？"
    } %></li>
    <li><%= link_to "部署一覧に戻る", admin_departments_path %></li>
  </ul>
</section>
