<% content_for :title, "ユーザー一覧 | hello-rails" %>
<% content_for :head do %>
  <%= tag.meta name: "description", content: "ユーザー一覧ページです。" %>
  <%= tag.meta name: "keywords", content: "ユーザー一覧, ユーザー検索, hello-rails" %>

  <%= tag.meta property: "og:title", content: "ユーザー一覧 | hello-rails" %>
  <%= tag.meta property: "og:type", content: "index" %>
  <%= tag.meta property: "og:url", content: users_url %>
  <%= tag.meta property: "og:description", content: "ユーザー一覧ページです" %>
  <%= tag.meta property: "og:site_name", content: "hello-rails" %>

  <%= tag.meta name: "twitter:card", content: "summary_large_image" %>
  <%= tag.meta name: "twitter:title", content: "ユーザー一覧 | hello-rails" %>
  <%= tag.meta name: "twitter:description", content: "ユーザー一覧ページです" %>

  <script type="application/ld+json">
    <%= {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
          "@type": "ListItem",
          "position": 1,
          "name": "ユーザー一覧",
          "item": users_url
      }]
    }.to_json.html_safe %>
  </script>

  <script type="application/ld+json">
    <%= {
      "@context": "https://schema.org",
      "@type": "CollectionPage",
      "name": "ユーザー一覧 | hello-rails",
      "url": users_url,
    }.to_json.html_safe %>
  </script>
<% end %>

<% content_for :breadcrumb do %>
  <ol>
    <li>
      <a href="<%= users_path %>">ユーザー一覧</a>
    </li>
  </ol>
<% end %>

<h1>ユーザー一覧</h1>

<%= form_with url: "/users", method: :get do |form| %>
  <%= form.label :name, "名前" %>
  <%= form.text_field :name, value: @search_params[:name] %>

  <%= form.label :pref, "都道府県" %>
  <%= form.select :pref, options_for_select(@prefectures.values, @search_params[:pref]), { include_blank: "指定なし" } %>

  <%= form.label :birth, "誕生日順" %>
  <%= form.select :birth, options_for_select([["古い順（年齢が高い）", "asc"], ["新しい順（年齢が低い）", "desc"]], @search_params[:birth]), { include_blank: "指定なし" } %>

  <%= form.label :per, "表示件数" %>
  <%= form.select :per, options_for_select([["10件", 10], ["50件", 50], ["100件", 100]], @search_params[:per]), { include_blank: "指定なし" } %>

  <%= form.submit "検索" %>
<% end %>

<ul>
    <% @users.each do |user| %>
        <li>
            <%= link_to user.full_name, user_path(user) %>
        </li>
    <% end %>
</ul>

<%= paginate @users %>
